* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-content: center;
    background-color: black;
}
nav .logo img{
    width: 40px;
    padding: .5rem 0;
    height: auto;
    border-radius: 20px;
}
nav .links {
    display: flex;
    font-size: .8rem;
    font-weight: lighter;
    font-family: 'Exo 2', sans-serif;
    align-items: center;
    margin-left: 1rem;
}
nav .links li {
    list-style: none;
    padding: 0 .5rem;
}
nav .links a {
    text-decoration: none;
    list-style: none;
    background-color: black;
    padding: .3rem .5rem;
    border-radius: .4rem;
    color: white;
}
nav .links a:hover {
    cursor: pointer;
}

/*Section Banner with cofee cups upodated*/
.banner {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
    height: 50vh;
}
.banner h1 {
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Rubik Scribble";
    z-index: 1;

}
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(2px) brightness(70%);
}

/*Section Main*/
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(77, 163, 137);
}
.main h2 {
    align-self: center;
    text-align: center;
    font-family: "Rubik Scribble";
    font-size: 3rem;
    color: black;
    line-height: 1.5;
    padding: 0 2rem;
}
.main p {
    text-align: left;
    align-self: center;
    font-family: 'Exo 2';
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
    padding: 0 4rem;
}
.main span {
    font-weight: bold;
}
.coffeeType {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    background-image: url("./media/jonny-gios-CKApUn1rsxA-unsplash.jpg");
    background-position: center;
    background-size: cover;
}
.coffeeType h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-family: "Rubik Scribble";
    font-size: 4rem;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
}
footer img {
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(50%);
    object-fit: cover;
}
footer div {
    position: absolute;
    padding: 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /*fix this border lines*/
}
footer p {
    font-size: 1.2rem;
    font-family: 'Exo 2', sans-serif;
    padding: 0 5rem;
    text-align: left;
}
